@media (max-height: 480px) {
	#page-login form input {
		margin-bottom:10px;
	}
	
}






/* iPhone 5 Retina regardless of IOS version */
@media (device-height : 568px) 
   and (device-width : 320px) 
   and (-webkit-min-device-pixel-ratio: 2)
/* and (orientation : todo: you can add orientation or delete this comment)*/ {

	#page-login form h2 {
		font-size: 0.9em;
		margin: 1px 0 7px;
	}
	#page-login form input {
		margin-bottom:10px;
		padding: 8px 2% 10px;
	}
	.btn.btn-primary{
		padding:12px 40px;
	}

}
